@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

.container {
    position: relative;
    background-color: #19A1AE;

    font-family: 'Kumbh Sans', sans-serif;
    color: #2E3349;
    
    display: grid;
    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-content: center;
}

.bg--pattern--1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100rem, -86.956rem);
    background-image: url("../images/bg-pattern-top.svg");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:auto;
    width: 97.8rem;
    height: 97.6rem;
    opacity: 0.5;
}

.bg--pattern--2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -2.1rem, 0.7rem);
    background-image: url("../images/bg-pattern-bottom.svg");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:auto;
    width: 97.8rem;
    height: 97.6rem;
    opacity: 0.5;
}

.card {
    position: relative;
    width: 35rem;
    height: 37.4rem;
    border-radius: 1.5rem;
    background-color: white;
    display: grid;
    grid-template-rows:  14rem 7.2rem 2.3rem 0.8rem 1.4rem 2.8rem 2.4rem 4rem 2.5rem;
    grid-template-columns: 35rem;
    text-align: center;
    z-index: 1;
}

.background--image {
    position: relative;
    grid-row: 1 / 2;
    background-image: url("../images/bg-pattern-card.svg");
    width: 35rem;
    height: 14rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.portrait {
    position: absolute;
    top: 9.6rem;
    left: 12.7rem;
    grid-row: 1 / 2;
    background-image: url("../images/image-victor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 0.5rem solid white;
    width: 9.6rem;
    height: 9.6rem;

}

.first--last--name--age {
    grid-row: 3 / 4;
    font-weight: bold;
    font-size: 1.8rem;
}

.age {
    color: #6B7082;
    font-weight: normal;
}

.town {
    grid-row: 5 / 6;
    color: #6B7082;
    font-size: 1.4rem;
}

.line {
    grid-row: 7 / 8;
    border-top: 1px solid #E8E9EC;
}

.stats {
    grid-row: 8 / 9;
    width: 2.49rem;
    height: 4rem;
    display: grid;
    grid-template-columns: 4.7rem 5.9rem 4.6rem 4.7rem 5.4rem 4.3rem 5.4rem;
}

.stat1 {
    grid-column: 2 / 3;
}

.stat2 {
    grid-column: 4 / 5;
}

.stat3 {
    grid-column: 6 / 7;
}

.figures {
    font-weight: bold;
    font-size: 1.8rem;
    align-self: start;
    padding: 0;
}

.figure--unity {
    color: #6B7082;
    font-size: 1rem;
    line-height: 1.9rem;
    letter-spacing: 0.15rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
